{% extends "logged.html" %}

{% block logged_css %}
<link
    href="{{ url_for('static', filename='clubs.css') }}"
    rel="stylesheet"
>
{% endblock %}

{% block left_col %}
<form class="" method="post">
    <div class="title horizontal-flex mb-4">
        <h3>Ajouter une etape</h3>
    </div>
    <div class="mb-4">
        <label for="lieu" class="form-label">Club Organisateur</label>
        <select id="lieu" name="lieuId" class="form-select {% if lieu %}is-invalid{% endif %}">
            <option value="none" selected>Choisir un lieu</option>
            {% for club in clubs %}
            <option value="{{ club.id }}">{{ club.ville[0]|upper + club.ville[1:] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="horizontal-flex">
        <input type="hidden" name="championnatId" value="{{ championnat.id }}">
        <button type="submit" class="btn btn-outline-primary">Ajouter</button>
    </div>
</form>
{% endblock %}

{% block right_col %}
<div class="title mb-4">
    <div class="center-flex me-2">
        <a href="{{ url_for('views.championnats') }}"><img class="back" src="{{ url_for('static', filename='back.svg') }}" alt="Retour"></a>
    </div>
    <h2>Etapes : {{ championnat_type }} - {{ championnat.annee }}</h2>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Club Organisateur</th>
            <th scope="col">Participants</th>
        </tr>
    </thead>
    <tbody>
        {% for etape in etapes %}
        <tr onclick="window.location='{{ url_for('views.etape', championnat_id=championnat.id, etape_id=etape['id'])}}';">
            <th scope="row">{{ loop.index }}</th>
            <td>{{ etape['club'] }}</td>
            <td>{{ etape['participants'] }}/{{ etape['nb_titulaires'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block custom_js %}
<script type="text/javascript">
    $('#championnats').addClass('active');
</script>
{% endblock %}
