{% extends "base.html" %}

{% block title %}LOGIN{% endblock %}

{% block custom_css %}
<link
    href="{{ url_for('static', filename='login.css')}}"
    rel="stylesheet"
>
{% endblock %}

{% block page_content %}
<div class="container center-flex">
    <div class="card login-card py-4 px-4">
        <form method="post" class="login-form">
            <div class="mb-3">
                <label for="username" class="form-label">Nom d'Utilisateur</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot De Passe</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                <label class="form-check-label" for="rememberMe">Se Rappeler de moi</label>
            </div>
            <div class="horizontal-flex">
                <button type="submit" class="btn btn-primary">Se Connecter</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
