{% extends "logged.html" %}

{% block logged_css %}
<link
    href="{{ url_for('static', filename='titulaires.css') }}"
    rel="stylesheet"
>
{% endblock %}


{% block edit_form %}
<div id="edit_form">
    <div id="container-form">
        <form action="{{url_for('views.edit_titulaire')}}" method="post">
            <div class="title horizontal-flex mg">
                <h3>Modifier le titulaire</h3>
            </div>
            <div>
                <input style="display: none" name="id" id="edited-id" type="text" >
            </div>
            <div class="form-floating mg">
                <input type="text" class="form-control {% if name %}is-invalid{% endif %}" id="edited-name" name="name">
                <label for="edited-name">Nom</label>
            </div>
            <div class="form-floating mg">
                <input type="text" class="form-control {% if surname %}is-invalid{% endif %}" id="edited-surname" name="surname">
                <label for="edited-surname" class="form-label">Prénom</label>
            </div>
            <div class="form-floating mg">
                <input type="date" class="form-control {% if birthDate %}is-invalid{% endif %}" id="edited-birthDate" name="birthDate">
                <label for="edited-birthDate" class="form-label">Date De Naissance</label>
            </div>
            <div class="mg">
                <label for="edited-club" class="form-label">Club</label>
                <select id="edited-club" name="clubId" class="form-select {% if clubId %}is-invalid{% endif %}">
                    <option value="none" selected>Choisir un club</option>
                    {% for club in clubs %}
                    <option value="{{club.ville[0]|upper + club.ville[1:]}}">{{club.ville[0]|upper + club.ville[1:]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-floating mg">
                <input type="text" class="form-control {% if plaqueNb %}is-invalid{% endif %}" id="edited-plaqueNb" name="plaqueNb"
                >
                <label for="edited-plaqueNb" class="form-label">Numéro De Plaque</label>
            </div>

            <div class="mb-4">
                <label for="edited-sexe" class="form-label">Sexe</label>
                <select id="edited-sexe" name="sexeId" class="form-select {% if sexeId %}is-invalid{% endif %}">
                    <option value="none" selected>Choisir un sexe</option>
                    {% for sexe in sexes %}
                    <option value="{{ sexe.id }}">{{sexe.denomination}}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="container-btns">
                <button class="btn btn-outline-danger" id="btn-cancel" onclick="hideEditForm(event)"> Annuler </button>
                <button type="submit" class="btn btn-outline-primary" id="btn-ok"> Confirmer </button>
            </div>
        </form>




    </div>

</div>
{% endblock %}

{% block left_col %}

<form class="" method="POST" action="/add_titulaires/" enctype="multipart/form-data">
    <div class="title horizontal-flex mb-4">
        <h3>Ajouter des titulaires</h3>

    </div>
     <div class="form-floating mb-4">
        <input type="file" name="xls" accept=".xls">
     </div>
       <div class="horizontal-flex">
        <button type="submit" class="btn btn-outline-primary">Ajouter</button>
    </div>
    <br>
    <HR ALIGN=CENTER WIDTH="210">
</form>
<form class="" method="post">
    <div class="title horizontal-flex mb-4">
        <h3>Ajouter un titulaire</h3>
    </div>
    <div class="form-floating mb-4">
        <input type="text" class="form-control {% if name %}is-invalid{% endif %}" id="name" name="name">
        <label for="name">Nom</label>
    </div>
    <div class="form-floating mb-4">
        <input type="text" class="form-control {% if surname %}is-invalid{% endif %}" id="surname" name="surname">
        <label for="surname" class="form-label">Prénom</label>
    </div>
    <div class="form-floating mb-4">
        <input type="date" class="form-control {% if birthDate %}is-invalid{% endif %}" id="birthDate" name="birthDate">
        <label for="birthDate" class="form-label">Date De Naissance</label>
    </div>
    <div class="mb-4">
        <label for="club" class="form-label">Club</label>
        <select id="club" name="clubId" class="form-select {% if clubId %}is-invalid{% endif %}">
            <option value="none" selected>Choisir un club</option>
            {% for club in clubs %}
            <option value="{{ club.id }}">{{club.ville[0]|upper + club.ville[1:]}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-floating mb-4">
        <input type="text" class="form-control {% if plaqueNb %}is-invalid{% endif %}" id="plaqueNb" name="plaqueNb">
        <label for="plaqueNb" class="form-label">Numéro De Plaque</label>
    </div>
    <div class="mb-4">
        <label for="sexe" class="form-label">Sexe</label>
        <select id="sexe" name="sexeId" class="form-select {% if sexeId %}is-invalid{% endif %}">
            <option value="none" selected>Choisir un sexe</option>
            {% for sexe in sexes %}
            <option value="{{ sexe.id }}">{{sexe.denomination}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="horizontal-flex">
        <button type="submit" class="btn btn-outline-primary">Ajouter</button>
    </div>


</form>
{% endblock %}

{% block right_col %}
<div class="title mb-4">
    {% if title != "tous" %}
    <div class="center-flex me-2">
        <a href="{{ url_for('views.clubs') }}"><img class="back" src="{{ url_for('static', filename='back.svg') }}" alt="Retour"></a>
    </div>
    {% endif %}
    <h2>Titulaires ({{ title }})</h2>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Date de Naissance</th>
            <th scope="col">Sexe</th>
            <th scope="col">Club</th>
            <th scope="col">Plaque</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for titulaire in titulaires %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td contenteditable="false">{{ titulaire.nom }}</td>
            <td contenteditable="false">{{ titulaire.prenom }}</td>
            <td> {{titulaire.date_naissance}} </td>
            <td contenteditable="false">{{ titulaire.sexe }}</td>
            <td contenteditable="false">{{ titulaire.club }}</td>
            <td contenteditable="false">{{ titulaire.plaque }}</td>
            <td class="img"><a class="p{{loop.index}}" onclick="showEditForm(event, {{ titulaire }})"><img src="{{ url_for('static', filename='edit.png') }}" alt="Modifier"></a></td>
            <td class="img"><a onclick="delete_titulaire(event, {{ titulaire.id }}, '{{ titulaire.nom }}', '{{ titulaire.prenom }}')"><img src="{{ url_for('static', filename='delete.svg') }}" alt="Supprimer"></a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block logged_js %}
<script type="text/javascript">

    function showEditForm(e, titulaire) {

        e.preventDefault();  // cette methode empeche le rechargement de la page

        document.getElementById('edited-id').value = titulaire.id;

        // on fait apparaitre le formulaire d'edition
        document.getElementById('edit_form').style.display = "flex";

        // on remplit tous les champs du formulaire avec les données du titulaire
        document.getElementById('edited-name').value = titulaire.nom;
        document.getElementById('edited-surname').value = titulaire.prenom;
        document.getElementById('edited-club').value = titulaire.club;
        if (titulaire.sexe == 'Homme') {
            document.getElementById('edited-sexe').value = 1;
        } else {
            document.getElementById('edited-sexe').value = 2;
        }

        let date = titulaire.date_naissance.split('/');
        date = ""+date[2] + '-' + date[1] + '-' + date[0];
        document.getElementById('edited-birthDate').value = date;
        /*
        let nouvelle_plaque = "";
        for (let i = 0; i < titulaire.plaque.length; i++) {
            if (Number.isInteger(parseInt(titulaire.plaque[i]))) {
                nouvelle_plaque += ""+titulaire.plaque[i];
            }
        }
        document.getElementById('edited-plaqueNb').value = nouvelle_plaque;
        */
        document.getElementById('edited-plaqueNb').value = titulaire.plaque
    }


    function hideEditForm(e) {
        e.preventDefault();
        document.getElementById('edit_form').style.display = "none";
    }

    function delete_titulaire(event, titulaire_id, titulaire_nom, titulaire_prenom) {
        nomEntier =  titulaire_nom + " "+ titulaire_prenom
        if (clicked(event, nomEntier)) {
            $.ajax(
                {
                    url: "{{ url_for('views.delete_titulaire') }}",
                    type: "POST",
                    data: {
                        "titulaire_id": titulaire_id,
                    },
                    success: function(result){
                        alert(result.message)
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        if(xhr.status == 500) {
                            alert("Erreur serveur");
                        }
                        location.reload();
                    }
                }
            );
        }
    }
    


    $('#titulaires').addClass('active');


    function getFilePath(){
         $('input[type=file]').change(function () {
            console.log(this.files[0].mozFullPath);
         });
    }


</script>

{% endblock %}
